@model List<Bookinist.Models.DTO.BookDTO>

<h5 class="pt-3" style="color:white">Books</h5>

<table class="table table-dark" style="">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>BookName</th>
            <th>AuthorName</th>
            <th>Price</th>
            @*<th>ShortDescreption</th>*@
            <th>Category</th>
            <th>OwnerName</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
        <tr>
            <td>@book.Id</td>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>@book.Price</td>
            @*<td>@book.ShortDesc</td>*@
            <td>@book.CategoryName</td>
            <th>@book.UserName</th>
            <th>@book.Status</th>
            <td><a class="btn btn-info" href="~/Book/Edit?id=@book.Id">Edit</a></td>
            <td><a class="btn btn-danger" href="~/Book/Delete?id=@book.Id">Delete</a></td>
        </tr>
        }
    </tbody>
</table>